<h4>{{modoEdicion ? 'Editar' : 'Agregar'}} Registro</h4>

<!--<button type="button" class="btn btn-elegant">Elegant</button>-->

<form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-row form-group" [ngClass]="{'has-error': (formGroup.get('nombre').touched || formGroup.get('nombre').dirty) && !formGroup.get('nombre').valid }">
      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input id="nombreId" type="text" required formControlName="nombre" class="form-control" placeholder="Nombre">
        <span class="help-block" *ngIf="(formGroup.get('nombre').touched || formGroup.get('nombre').dirty) && formGroup.get('nombre').errors">
          <span *ngIf="formGroup.get('nombre').errors.required">
            El campo nombre es requerido
          </span>
        </span>
      </div>
      <div class="form-group col-md-6">
        <label for="date">Date</label>

        <div class="input-group">
          <input id="fechaNacimiento" required formControlName="fechaNacimiento" class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" ngbDatepicker #d="ngbDatepicker" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar " (click)="d.toggle()" type="button"></button>
          </div>
        </div>

        <span class="help-block" *ngIf="(formGroup.get('fechaNacimiento').touched || formGroup.get('fechaNacimiento').dirty) && formGroup.get('fechaNacimiento').errors">
          <span *ngIf="formGroup.get('fechaNacimiento').errors.required">
            El campo Fecha Nacimiento es requerido
          </span>
        </span>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Save</button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/persona"]'>
            Cancelar
          </button>
        </span>

      </div>

    </div>
  </fieldset>
</form>
