<h1>{{modoEdicion ? 'Editar' : 'Agregar'}} Persona</h1>

<button type="button" class="btn btn-elegant">Elegant</button>

<form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-group" [ngClass]="{'has-error': (formGroup.get('nombre').touched || formGroup.get('nombre').dirty) && !formGroup.get('nombre').valid }">

      <div class="col-md-8">
        <mat-form-field>
          <input matInput placeholder="Nombre" id="nombreId" type="text" required formControlName="nombre">
        </mat-form-field>

        <span class="help-block" *ngIf="(formGroup.get('nombre').touched || formGroup.get('nombre').dirty) && formGroup.get('nombre').errors">
          <span *ngIf="formGroup.get('nombre').errors.required">
            El campo nombre es requerido
          </span>
        </span>

      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': (formGroup.get('fechaNacimiento').touched || formGroup.get('fechaNacimiento').dirty) && !formGroup.get('fechaNacimiento').valid }">


      <div class="col-md-8">

        <mat-form-field>
          <input matInput
                 [matDatepicker]="picker"
                 placeholder="Seleccionar fecha"
                 id="fechaNacimiento"
                 
                 required
                 formControlName="fechaNacimiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <span class="help-block" *ngIf="(formGroup.get('fechaNacimiento').touched || formGroup.get('fechaNacimiento').dirty) && formGroup.get('fechaNacimiento').errors">
          <span *ngIf="formGroup.get('fechaNacimiento').errors.required">
            El campo Fecha Nacimiento es requerido
          </span>
        </span>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Save</button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/persona"]'>
            Cancelar
          </button>
        </span>

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

    </div>
  </fieldset>
</form>
