<h3>Create a new register</h3>


<button [routerLink]='["/persona-crear"]' mat-raised-button color="primary">Agregar Registro</button>

<p *ngIf="!(personas && personas.length)">
  Not Return data!!! 
</p>

<table *ngIf="personas && personas.length" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <td>{{persona.nombre}}</td>
      <td>{{persona.fechaNacimiento | date : 'dd-MM-yyyy'}}</td>
      <td>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="primary">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
