
@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */

  .body-content {
    padding-top: 50px;
    background-color: #ddd;
  }
  footer {
    background-color: #ddd;
    border-top: 1px solid #bbb;
    text-align: center;
  }

  #clickFooter footer:hover {
    background-color: #ccc;
    cursor: pointer;
  }

  #btmFooter {
    align-self: flex-end;
  }

  #clickFooter {
    position: relative;
  }
}
